.filterArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background: #fff;
    padding: 81px 40px 30px;
    box-shadow: 4px 0px 4px #bcbcbc1f;
    overflow-y: auto;
    transform: translateX(-320px);


    .closeBtn {
        position: fixed;
        top: 32px;
        right: 32px;

        a {
            text-decoration: none;
            font: normal normal 14px/100% $font-eng-normal;
            color: $pure-black;
            letter-spacing: .03em;

            &::before {
                content: "x";
                margin-right: 6px;
            }
        }
    }

    .filterContent {

        .filterBlock {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            .filterTitle {
                margin-bottom: 8px;

                p {
                    font: normal bold 14px/100% 'noto sans jp';
                    color: $sub-black;
                    letter-spacing: .03em;

                    .allListNum {
                        margin-left: 6px;
                    }
                }
            }

            .filterItem {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-left: 12px;

                a {
                    font: normal normal 12px/200% 'noto sans jp';
                    color: $sub-black;
                    letter-spacing: .03em;
                    text-decoration: none;
                    width: fit-content;
                    transition: opacity .2s ease-in-out;



                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        opacity: .2;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-sm {
    .filterArea {
        padding: 20px 1%;
        box-shadow: 0px 4px 4px #bcbcbc1f;

        .navContent {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;

            .navItem {
                &:not(:last-child) {
                    margin-right: 20px;
                }

                a {
                    text-decoration: none;
                    font: normal normal 12px/100% $font-eng-normal;
                    color: $pure-black;
                    letter-spacing: .03em;
                }
            }
        }

        .filterContent {
            margin-top: 30px;

            .filterNav {
                display: flex;
                flex-direction: row;

                p {
                    width: 33%;
                    padding: 20px 0;
                    text-align: center;
                    font: normal bold 14px/100% 'noto sans jp';
                    color: $pure-black;
                    letter-spacing: .03em;
                }
            }

            .filterBlock {
                &:not(:last-child) {
                    margin-bottom: 0;
                }

                padding: 0 8%;

                .filterTitle {
                    text-align: center;
                }

                .filterItem {
                    flex-direction: column;
                    margin-left: 0;

                    p {
                        &:not(:last-child) {
                            margin-right: 0;
                        }

                    }
                }
            }
        }
    }
}