    @font-face {
        font-family: 'Formula Condensed Light';
        font-style: normal;
        font-weight: normal;
        src: url('../font/FormulaCondensed-Light.woff') format('woff');
    }


    @font-face {
        font-family: 'Formula Condensed Bold';
        font-style: normal;
        font-weight: normal;
        src: url('../font/FormulaCondensed-Bold.woff') format('woff');
    }