header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 81px;
    background: $pure-white;
    box-shadow: 0px 4px 4px #a0a0a01a;
    padding: 30px 2.5%;

    .filterBtn {
        p {
            font: normal bold 18px/100% $font-eng-bold;
            color: $pure-black;
            letter-spacing: .03em;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }

            &::before {
                content: "";
                background: url('../images/filter-icon.svg');
                background-size: contain;
                display: inline-block;
                width: 14px;
                height: 9px;
                vertical-align: middle;
                margin-right: 5px;
                margin-bottom: 2px;
            }
        }
    }

    .logoContent {
        width: fit-content;
        margin: 0 auto;

        img {
            height: 21px;
            width: auto;
        }
    }

    .navContent {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        .navItem {

            &:not(:last-child) {
                margin-right: 12px;
            }


            a {
                font: normal normal 12px/100% $font-eng-normal;
                color: $pure-black;
                letter-spacing: .03em;
                text-decoration: none;
                transition: opacity .2s ease-in-out;

                &:active {
                    opacity: .2;
                }
            }
        }
    }
}

@include media-breakpoint-sm {
    header {
        padding: 16px 2%;
        height: 52px;

        .filterBtn {
            order: 1;
        }

        .logoContent {
            margin: 0;

            img {
                height: 20px;
                width: auto;
            }
        }

        .navContent {
            display: none;
        }
    }
}