.hide {
    display: none !important;
}

.forSP {
    display: none;
}

@include media-breakpoint-sm {
    .forPC {
        display: none;
    }

    .forSP {
        display: block;

    }
}


.wrapper {
    position: relative;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    z-index: 99;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000bf;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;
    }


    &.active {
        position: fixed;
        transform: translateX(320px);

        &::after {
            opacity: 1;
            visibility: visible;
        }

    }
}

main {
    background: #F6F6F6;
    padding: 60px 0;

    .sampleArea {
        padding: 0 2.5% 100px;


        h1 {
            display: none;
        }

        #sampleContent {
            max-width: 1800px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
            column-gap: 30px;

            .sampleBlock {
                border-radius: 3px;
                position: relative;
                max-width: 300px;

                a {
                    text-decoration: none;
                }

                .sampleThumbnail {
                    max-width: 290px;
                    max-height: 215px;
                    border: 5px solid $pure-white;
                    box-sizing: content-box;

                    img {
                        width: 100%;
                        height: 100%;
                    }


                }

                .sampleTitle {
                    margin: 9px 0 0 10px;

                    h2 {
                        font: normal normal 12px/120% 'noto sans jp';
                        color: $pure-black;
                        letter-spacing: .03em;
                    }
                }

                &:hover .popupBtn {
                    opacity: 1;
                }

                .popupBtn {
                    display: block;
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    bottom: 43px;
                    right: 8px;
                    transition: opacity .12s linear;
                    opacity: 0;

                    &:hover {
                        opacity: .8;
                        cursor: pointer;
                    }
                }

                .popup {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    overflow-y: auto;
                    overflow-x: hidden;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    z-index: 999;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    &.hidden {
                        display: none;
                    }

                    width: 100%;

                    .popupBg {
                        width: 100%;
                        height: 100%;
                        background: #000000bf;
                        overflow-y: auto;

                        .popupContent {
                            padding: 100px 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                            overflow-y: auto;
                            overflow-x: hidden;
                            -ms-overflow-style: none;
                            scrollbar-width: none;

                            &::-webkit-scrollbar {
                                display: none;
                            }


                            .popupImage {
                                width: 760px;

                                img {
                                    width: 100%;
                                    height: auto;
                                }

                            }

                            .popupDetail {
                                margin-left: 16px;
                                background-color: $pure-white;
                                padding: 160px 10px;
                                width: 350px;
                                height: fit-content;

                                p,
                                a {
                                    text-decoration: none;
                                    margin-top: 7px;
                                    text-align: left;
                                    font: normal normal 12px/200% 'noto sans jp';
                                    color: $sub-black;
                                    letter-spacing: 0.03em;


                                    span {
                                        display: inline-block;
                                        margin-right: 16px;
                                        width: 60px;
                                        text-align: right;
                                    }
                                }

                                a::after {
                                    content: "";
                                    background: url(../images/newwindow.svg);
                                    background-size: cover;
                                    display: inline-block;
                                    width: 12px;
                                    height: 12px;
                                    margin-left: 6px;

                                }
                            }
                        }
                    }
                }
            }
        }

        .moreBtn {
            width: fit-content;
            margin: 60px auto 0;

            a {
                padding: 5px 42px 0;
                background: $main-blue;
                text-decoration: none;
                font: normal normal 27px/100% $font-eng-normal;
                color: $pure-white;
                letter-spacing: .11em;
            }
        }

        //pagenavi
        .pagination-container {
            margin-top: 60px;

            .pagination {
                display: flex;
                flex-direction: row;
                justify-content: center;

                li {
                    &:not(:last-child) {
                        margin-right: 30px;
                    }

                    a {
                        text-decoration: none;
                        font: normal normal 14px/100% $font-eng-normal;
                        color: $pure-black;
                    }

                    &.disabled a {
                        color: $accent-gray;
                        cursor: default;
                    }
                }
            }
        }
    }

    .blogRecommend {
        padding: 0 2.5%;
        margin-bottom: 60px;

        h3 {
            margin-bottom: 30px;
            text-align: center;
            font: normal bold 14px/100% "noto sans jp";
            color: $pure-black;
        }

        .blogContent {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;

            gap: 5%;

            .blogBlock {
                width: 27%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                // align-items: flex-start;
                .blogDetail {
                    margin-left: 24px;

                    .title {
                        font: normal bold 14px/100% "noto sans jp";
                        color: $pure-black;

                        &::after {
                            content: "";
                            display: block;
                            width: 42px;
                            height: 1px;
                            background: $pure-black;
                            margin-top: 6px;
                        }
                    }

                    .about {
                        margin-top: 10px;
                        font: normal normal 12px/120% "noto sans jp";
                        color: $pure-black;
                        letter-spacing: .02em;
                    }
                }
            }
        }
    }

    .snsContent {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;

        a {
            height: 18px;

            &:nth-child(2) {
                margin: 0 18px;
            }

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}