.hide {
  display: none;
}

header, #filterSection, main {
  width: 88.33%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 20px 0;
}

header, header .right nav ul, #filterSection .filterBlock .filterList, footer nav ul, main #displaySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .right nav ul li a, #filterSection .filterBlock h3.filterTitle, #filterSection .filterBtn a {
  font-family: Formula Condensed, Arial, Helvetica, sans-serif;
}

header .right .subtitle p, #filterSection .filterBlock .filterList .filterItem a, main#aboutMain .content h3,
main#aboutMain .sns h3, main#aboutMain .content p,
main#aboutMain .content a,
main#aboutMain .sns p,
main#aboutMain .sns a, main #loadMore, main .totalPage p {
  font-family: Noto Sans JP Regular, Arial, Helvetica, sans-serif;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #f3f3f3;
}

header .pageLogo img {
  width: auto;
  height: 24px;
}

header .right nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

header .right nav ul li {
  list-style: none;
}

header .right nav ul li a {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000;
}

header .right nav ul li a.pageNow {
  border-bottom: 1px solid #000;
}

header .right nav ul li:not(:last-child) {
  margin-right: 24px;
}

header .right .subtitle {
  margin-top: 12px;
}

header .right .subtitle p {
  text-align: right;
  font-size: 12px;
  line-height: 100%;
  color: #939393;
}

#filterSection {
  padding: 0px 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-box-shadow: 1px 6px 7px 3px #eae8e800;
          box-shadow: 1px 6px 7px 3px #eae8e800;
}

#filterSection.show {
  -webkit-box-shadow: 0px 10px 9px 3px #eae8e873;
          box-shadow: 0px 10px 9px 3px #eae8e873;
}

#filterSection.show .filterBlock {
  display: block;
}

#filterSection .filterBlock {
  display: none;
  margin-top: 24px;
}

#filterSection .filterBlock:nth-child(2) {
  padding-top: 40px;
  margin-top: 0;
}

#filterSection .filterBlock h3.filterTitle {
  color: #404040;
  font-size: 16px;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0.03em;
  margin-bottom: 3px;
}

#filterSection .filterBlock .filterList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#filterSection .filterBlock .filterList .filterItem {
  list-style: none;
}

#filterSection .filterBlock .filterList .filterItem a {
  color: #000;
  font-size: 16px;
  line-height: 160%;
  font-weight: normal;
  letter-spacing: 0.01em;
}

#filterSection .filterBlock .filterList .filterItem a.active {
  border-bottom: 2px solid #151515;
}

#filterSection .filterBlock .filterList .filterItem:not(:last-child) {
  margin-right: 24px;
}

#filterSection .filterBtn {
  display: block;
  text-align: center;
  margin-top: 40px;
}

#filterSection .filterBtn a {
  border: 1px solid #000;
  border-radius: 45px;
  padding: 8px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.03em;
}

#filterSection .filterBtn a::before {
  content: "";
  display: inline-block;
  background: url("../images/filterIcon.png") 0 0 no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #2a2a2a;
  padding: 20px 0;
}

footer nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li:not(:last-child) {
  margin-right: 12px;
}

footer nav ul li a {
  color: #a5a5a5;
  font-size: 12px;
}

footer .copyright {
  margin-top: 16px;
}

footer .copyright p {
  text-align: center;
  font-size: 10px;
  color: #a5a5a5;
}

main {
  padding-bottom: 160px;
}

main#aboutMain {
  padding-top: 40px;
}

main#aboutMain h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

main#aboutMain h2 img {
  height: 20px;
  width: auto;
  margin-right: 2px;
  vertical-align: baseline;
}

main#aboutMain .content h3,
main#aboutMain .sns h3 {
  margin: 36px 0 12px;
  font-size: 18px;
  line-height: 100%;
  font-weight: bold;
  color: #171717;
}

main#aboutMain .content p,
main#aboutMain .content a,
main#aboutMain .sns p,
main#aboutMain .sns a {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 160%;
  font-weight: normal;
  color: #171717;
  letter-spacing: 0.03em;
}

main#aboutMain .content p span.contentttl,
main#aboutMain .content p span.snsttl,
main#aboutMain .content a span.contentttl,
main#aboutMain .content a span.snsttl,
main#aboutMain .sns p span.contentttl,
main#aboutMain .sns p span.snsttl,
main#aboutMain .sns a span.contentttl,
main#aboutMain .sns a span.snsttl {
  display: inline-block;
  width: 100px;
  margin-right: 40px;
}

main#aboutMain .content p small,
main#aboutMain .content p small a,
main#aboutMain .content a small,
main#aboutMain .content a small a,
main#aboutMain .sns p small,
main#aboutMain .sns p small a,
main#aboutMain .sns a small,
main#aboutMain .sns a small a {
  font-size: 11px;
  line-height: 100%;
}

main#aboutMain .content img,
main#aboutMain .sns img {
  height: 20px;
  width: auto;
  margin-right: 2px;
  vertical-align: baseline;
}

main #displaySection {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #displaySection .displayItem {
  display: none;
  width: 24%;
  max-width: 300px;
}

main #displaySection .displayItem img {
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

main #displaySection .displayItem .nameLink {
  margin: 10px 0 12px 2px;
  display: block;
  color: #000;
  font-size: 12px;
  line-height: 120%;
  font-weight: normal;
  font-family: "noto sans jp", Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
}

main #loadMore {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 0;
  border: 1px solid #000;
  border-radius: 45px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.03em;
}

main #loadMore.noContent {
  display: none;
}

main .totalPage p {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
  line-height: 100%;
  font-weight: normal;
  color: #171717;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */