    @font-face {
        font-family: 'Formula Condensed Light';
        font-style: normal;
        font-weight: normal;
        src: url('../font/FormulaCondensed-Light.woff') format('woff');
    }


    @font-face {
        font-family: 'Formula Condensed Bold';
        font-style: normal;
        font-weight: normal;
        src: url('../font/FormulaCondensed-Bold.woff') format('woff');
    }

    $main-black : #1D1D1D;
    $main-blue : #12142D;
    $sub-black : #333;

    .hide {
        display: none;
    }

    %basicSize {
        width: 86%;
        max-width: 1240px;
        margin: 0 auto;
    }

    %flexRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    %fontEng-light {
        font-family: 'Formula Condensed Light', Arial, Helvetica, sans-serif;
    }

    %fontEng-bold {
        font-family: 'Formula Condensed Bold', Arial, Helvetica, sans-serif;
    }

    %fontJap {
        font-family: 'Noto Sans JP', sans-serif;
    }

    img {
        vertical-align: bottom;
        width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
        color: $main-black;
    }

    li {
        list-style-type: none;
    }

    body {
        header {
            border-bottom: 1px solid #ddd;

            .headerContent {
                @extend %basicSize;
                @extend %flexRow;
                justify-content: space-between;
                align-items: flex-end;
                padding: 36px 0;

                .title {
                    order: 1;

                    .pageLogo {
                        width: 186px;
                        margin: 0 auto 3px;
                    }

                    .subtitle {
                        @extend %fontJap;
                        font-size: 10px;
                        line-height: 100%;
                        font-weight: normal;
                        letter-spacing: 0.03em;
                        color: #9C9C9C;
                        text-align: center;
                    }
                }

                .filterBtn {
                    order: 0;
                    width: 250px;


                    a {
                        @extend %fontEng-bold;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0.03em;
                        color: $main-black;

                        &::before {
                            content: "";
                            margin-right: 6px;
                            display: inline-block;
                            width: 16px;
                            height: 13px;
                            background: url('../images/filterIcon.png') center center no-repeat;
                            background-size: cover;
                        }
                    }
                }

                .navList {
                    order: 2;
                    width: 250px;

                    ul {
                        @extend %flexRow;

                        li {
                            @extend %fontEng-light;
                            font-size: 12px;
                            line-height: 100%;
                            letter-spacing: 0.03em;
                            color: $main-black;

                            &:not(:last-child) {
                                margin-right: 24px;
                            }

                            .totalPage {
                                margin-left: 6px;
                            }

                        }
                    }
                }
            }
        }

        footer {
            width: 100%;
            height: 30px;
            background-color: $main-blue;
            @extend %flexRow;
            justify-content: center;
            align-items: center;


            .copyright {
                p {
                    @extend %fontEng-light;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0.03em;
                    color: #9C9C9C;
                }
            }
        }

        main {
            @extend %basicSize;
            padding: 60px 0;

            #displaySection {
                @extend %flexRow;
                flex-wrap: wrap;
                justify-content: flex-start;

                .displayItem {
                    width: calc((100% - 72px)/4);
                    padding-bottom: 24px;

                    &:not(:nth-child(4n)) {
                        padding-right: 24px;
                    }

                    a.imgLink {
                        display: block;
                        margin-bottom: 6px;
                    }

                    a.nameLink {
                        display: block;
                        padding-left: 6px;
                        padding-right: 6px;
                        @extend %fontJap;
                        font-size: 12px;
                        line-height: 120%;
                        font-weight: normal;
                        color: $sub-black;

                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            %mobileSize {
                width: 94%;
                max-width: 768px;
                margin: 0 auto;
            }

            header {
                .headerContent {
                    @extend %mobileSize;
                    padding: 12px 0;

                    .title {

                        .pageLogo {
                            width: 120px;
                            margin: 0 auto;
                        }

                        .subtitle {
                            display: none;
                            font-size: 10px;
                            line-height: 100%;
                            font-weight: normal;
                            letter-spacing: 0.03em;
                            color: #9C9C9C;
                            text-align: center;
                        }
                    }

                    .filterBtn {
                        order: 0;
                        width: 20%;


                        a {
                            font-size: 20px;
                            line-height: 100%;
                            letter-spacing: 0.03em;
                            color: $main-black;

                            &::before {
                                content: "";
                                margin-right: 6px;
                                display: inline-block;
                                width: 16px;
                                height: 13px;
                                background: url('../images/filterIcon.png') center center no-repeat;
                                background-size: cover;
                            }
                        }
                    }

                    .navList {
                        width: 20%;

                        .spIcon {
                            text-align: right;

                            &::before {
                                content: "";
                                display: inline-block;
                                width: 22px;
                                height: 13px;
                                background: url('../images/menuIcon.png') center center no-repeat;
                                background-size: cover;
                            }
                        }

                        ul {
                            display: none;
                        }
                    }
                }
            }


            footer {
                height: 30px;


                .copyright {
                    p {
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0.03em;
                        color: #9C9C9C;
                    }
                }
            }

            main {
                @extend %mobileSize;
                padding: 24px 0;

                #displaySection {

                    .displayItem {
                        width: 100%;

                        &:not(:nth-child(4n)) {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }