.hide {
  display: none;
}

header, #filterSection, #displaySection {
  width: 88.33%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 20px 0;
}

header, header .right nav ul, #filterSection .filterBlock .filterList, footer nav ul, #displaySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .right nav ul li, #filterSection .filterBtn a {
  font-family: Formula Condensed, Arial, Helvetica, sans-serif;
}

header .right .subtitle p {
  font-family: Noto Sans JP Regular, Arial, Helvetica, sans-serif;
}

img {
  vertical-align: bottom;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .pageLogo img {
  width: auto;
  height: 24px;
}

header .right nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

header .right nav ul li {
  list-style: none;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.03em;
}

header .right nav ul li:not(:last-child) {
  margin-right: 24px;
}

header .right .subtitle {
  margin-top: 12px;
}

header .right .subtitle p {
  text-align: right;
  font-size: 12px;
  line-height: 100%;
  color: #939393;
}

#filterSection {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-box-shadow: 1px 6px 7px 3px #f1f1f100;
          box-shadow: 1px 6px 7px 3px #f1f1f100;
}

#filterSection.show {
  -webkit-box-shadow: 1px 6px 7px 3px #f1f1f170;
          box-shadow: 1px 6px 7px 3px #f1f1f170;
}

#filterSection.show .filterBlock {
  display: block;
}

#filterSection .filterBlock {
  display: none;
  -webkit-transition: 3s;
  transition: 3s;
}

#filterSection .filterBlock h3.filterTitle {
  font-size: 14px;
}

#filterSection .filterBlock .filterList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#filterSection .filterBlock .filterList .filterItem {
  list-style: none;
  line-height: 1.7em;
}

#filterSection .filterBlock .filterList .filterItem:not(:last-child) {
  margin-right: 24px;
}

#filterSection .filterBtn {
  display: block;
  text-align: center;
  margin-top: 40px;
}

#filterSection .filterBtn a {
  border: 1px solid #000;
  border-radius: 45px;
  padding: 8px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.03em;
}

#filterSection .filterBtn a::before {
  content: "";
  display: inline-block;
  background: url("../images/filterIcon.png") 0 0 no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

footer {
  width: 100%;
  background: #2a2a2a;
  padding: 20px 0;
}

footer nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li:not(:last-child) {
  margin-right: 12px;
}

footer nav ul li a {
  color: #fdfdfd;
  font-size: 12px;
  text-decoration: none;
}

footer .copyright {
  margin-top: 16px;
}

footer .copyright p {
  text-align: center;
  font-size: 10px;
  color: #a5a5a5;
}

#displaySection {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#displaySection .nameLink {
  margin: 10px 0 12px 2px;
  display: block;
  color: #000;
  font-size: 12px;
  line-height: 120%;
  font-weight: normal;
  text-decoration: none;
  font-family: "noto sans jp", Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
}
/*# sourceMappingURL=main.css.map */