.hide {
    display: none;
}

%basicSize {
    width: 88.33%;
    max-width: 1272px;
    margin: 0 auto;
    padding: 20px 0;
}

%flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header {
    @extend %basicSize;
    @extend %flexRow;
    justify-content: space-between;

    .pageLogo {
        img {
            width: auto;
            height: 24px;
        }
    }

    .right {
        nav {
            ul {
                @extend %flexRow;

                li {
                    list-style: none;

                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
        }
    }
}

//filter box
#filterSection {
    border: 1px solid #2a2a2a;
    @extend %basicSize;
    padding: 20px;
    box-sizing: border-box;

    .filterBlock {
        h3.filterTitle {
            font-size: 14px;
        }

        .filterList {
            @extend %flexRow;
            flex-wrap: wrap;

            .filterItem {
                list-style: none;
                line-height: 1.7em;

                &:not(:last-child) {
                    margin-right: 24px;
                }

            }
        }
    }

    //filterBtn
    .filterBtn {
        display: block;
        text-align: center;
        margin-top: 24px;

        a {
            border: 1px solid #000;
            border-radius: 45px;
            padding: 8px 40px;
            font-size: 18px;
            font-weight: bold;
            color: #000;
            text-decoration: none;

            &::before {
                content: "";
                display: inline-block;
                background: url("../images/filterIcon.png") 0 0 no-repeat;
                background-size: cover;
                width: 18px;
                height: 18px;
                vertical-align: bottom;
                margin-right: 4px;
            }
        }
    }
}

//footer
footer {
    width: 100%;
    background: #2a2a2a;
    padding: 20px 0;

    nav {
        ul {
            @extend %flexRow;
            width: fit-content;
            margin: 0 auto;

            li {
                list-style: none;

                &:not(:last-child) {
                    margin-right: 12px;
                }

                a {
                    color: #fdfdfd;
                    font-size: 12px;
                    text-decoration: none;
                }
            }
        }
    }

    .copyright {
        margin-top: 16px;

        p {
            text-align: center;
            font-size: 10px;
            color: #a5a5a5;
        }
    }
}

//display
#displaySection {
    @extend %basicSize;
    @extend %flexRow;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;

    .nameLink {
        margin: 10px 0 12px 2px;
        display: block;
        color: #000;
        font-size: 12px;
        line-height: 120%;
        font-weight: normal;
        text-decoration: none;
        font-family: "noto sans jp", Arial, Helvetica, sans-serif;
        white-space: pre-wrap;
    }

}